@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <p>Этот сайт посвящен практической работе 5.</p>
    <p>Если у вас есть какие-либо вопросы или комментарии, пишите на почту.</p>
    <p>Документация по <a class="link" href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
