@{
    ViewData["Title"] = "Права защиты";
}

<h2>Права защиты</h2>

<p>
    В этом сайте одним из наших главных приоритетов является конфиденциальность посетителей. Этот документ
    Политики конфиденциальности содержит типы информации, собираемой и записываемой сайтом, и способы ее
    использования.
</p>

<p>
    Если у вас есть дополнительные вопросы или вам нужна дополнительная информация о нашей Политике
    конфиденциальности, не стесняйтесь обращаться к нам.
</p>

<p>
    Настоящая Политика конфиденциальности применяется только к нашей деятельности в Интернете и
    действительна для посетителей нашего веб-сайта в отношении информации, которой они поделились и / или
    собрали в этом сайте. Эта политика не применима к любой информации, собираемой в автономном режиме или
    по другим каналам, кроме этого веб-сайта.
</p>

<h2> Согласие </h2>

<p>
    Используя наш веб-сайт, вы тем самым соглашаетесь с нашей Политикой конфиденциальности и соглашаетесь с
    ее условиями.
</p>

<h2> Информация, которую мы собираем </h2>

<p>
    Личная информация, которую вас просят предоставить, и причины, по которым вас просят предоставить ее,
    будут ясны вам в тот момент, когда мы просим вас предоставить вашу личную информацию.
</p>
<p>
    Если вы обратитесь к нам напрямую, мы можем получить дополнительную информацию о вас, такую ​​как ваше
    имя, адрес электронной почты, номер телефона, содержание сообщения и / или вложения, которые вы можете
    нам отправить, а также любую другую информацию, которую вы можете предоставить. .
</p>
<p>
    Когда вы регистрируете учетную запись, мы можем запросить вашу контактную информацию, включая такие
    элементы, как имя, название компании, адрес, адрес электронной почты и номер телефона.
</p>
